body{
    margin: 0;
    padding: 0;
    font-family: 'Graphik Web',Helvetica,sans-serif;
}
/* p{
    word-spacing: 2px;
    letter-spacing: 0.1em;
} */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(23, 23, 45);
    position: sticky;
    padding: 15px 5px;
    top: 0;
    z-index: 5;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header>div, header>nav{
    display: flex;    
}
p{
    box-sizing: border-box;
    margin: auto 7px;
    padding: 3px 7px;
    font-size: 14px;
}
#feature{
    display: none;
}
head>nav>p:first-child{
    display: flex;
    flex-direction: column;
}
#logo1>img{
    width: 40px;
    height: 40px;
    margin: auto 2px;
    border-radius: 10px;
}

/* #drpbutn{
    border: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 16px;

} */
.bgc-skyblue{
    background-color: rgb(103, 183, 214);
    border-radius: 5px;
    border: none;
    padding: 10px 7px;
    color: black;
}
a{
    text-decoration: none;
    color: inherit;
}