body{
    margin: 0;
    padding: 0;
    font-family: 'Graphik Web',Helvetica,sans-serif;
}
/* p{
    word-spacing: 2px;
    letter-spacing: 0.1em;
} */
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(23, 23, 45);
    position: sticky;
    padding: 15px 5px;
    top: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head>div, .head>nav{
    display: flex;    
}
#feature{
    display: none;

}
p{
    box-sizing: border-box;
    margin: auto 7px;
    padding: 3px 7px;
    font-size: 14px;
}
.head>nav>p:first-child{
    display: flex;
    flex-direction: column;
}
#logo1{
    width: 40px;
    height: 40px;
    margin: auto 2px;
    border-radius: 10px;
}

/* #drpbutn{
    border: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 16px;

} */
section{
    padding: 0;
}
.bgc-skyblue{
    background-color: rgb(103, 183, 214);
    border-radius: 5px;
    border: none;
    padding: 10px 7px;
    color: black;
}
#signupA{
    width: 97%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin: auto auto 60px auto;
    padding: 20px;
}
#signupA>img{
    width: 45%;
}
#signupA>div{
    width: 45%;
    padding: 30px;
}
#signupA>div>h1{
    font-size: 55px;
}
#signupA>div>p{
    font-size: 18px;
    margin-bottom: 25px;
    padding: 0;
    line-height: 1.7;
    width: 85%;
}
#signupA>div>button{
    width: 46%;
    padding: 20px 7px;
    margin-right: 3%;
    background-color: #7451ff;
    border:none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#signupA>div>button:last-child{
    border:1px solid #7451ff ;
    background-color: white;
    color: #7451ff;
}
#signupA>div>button:hover{
    background-color: #7451ff;
    color: white;
}

#market_partners{
    background-color: rgb(238, 238, 238);
    padding: 70px 50px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    text-align: center;
}
#market_partners>p{
    width: fit-content;
    font-size: 22px;
    margin: auto;
}
#market_partners>img{
    width: 90px;
    margin: 2% 5%;
}
#email-sec{
    width: 100%;
    margin: auto 0 50px 15px;
    padding-right: 0;
    text-align: center;
}
#email-sec>div{
    width: 100%;
    box-sizing: border-box;
    margin: auto 0 50px 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#email-sec>div>div:first-child{
    width: 31%;
    box-sizing: border-box;
    margin: 5px 25px 10%;
    padding-top: 5px;
    text-align: left;
}
#email-sec>div>div:first-child>p{
    margin: auto -7px;
    font-size: 14px;
    color: grey;
}
#email-sec>div>div:first-child>h4{
    margin-top: 15px;
    font-size: 0.95em;

}
#email-sec>div>div:last-child{
    width: 50%;
    box-sizing: border-box;
    margin: 20px 0;
    box-shadow: 0 0 15px 10px rgb(221, 219, 219);
    text-align: center;
    overflow: hidden;

    display: grid;
    grid-template-columns: 30% 70%;
    height: 500px;
}
#email-sec img{
    width: 140%;

}
#email-sec>h1{
    font-size: 35px;
    margin-bottom: 70px;
}
#email-sec>p{
    font-size: 18px;
    margin-bottom: 30px;
}
#email-sec>button{
    width: 200px;
    padding: 20px 7px;
    margin-bottom: 40px;
    background-color: #7451ff;
    border:none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
